{% if base|string() == "2"|string() %}
{% extends 'base2.html' %}
{% else %}
{% extends 'base.html' %}
{% endif %}

{% block title %}
    <title>morsecode.fun - online morse utilities</title>
{% endblock %}

{% block head %}
    <script src="../static/js/script.js"></script>
{% endblock %}

{% block body %}
    <br><br><br>

    <h1>morsecode.fun</h1>

    <div class="owner">
        <h1>OWNER</h1>
        <h2>THIS IS THE CREATOR OF THE WEBSITE. PLEASE ONLY CONTACT hi@ians.site FOR SUPPORT.</h2>
    </div>
    <img src="{{ pfp }}" width="64px" height="64px" style="float: left;">
    <h3 style="font-size: 48pt; float: left; transform: translate(10%, -10%);">{{ name }}</h3>
    <img src="/static/badges/{{ badge }}.png" style="display: inline; float: left; transform: translate(40%, 10%);" width="42px" height="64px"><br><br><br><br>

    <h3>Rank: <img src="./static/badges/{{ rank }}.png" width="64px" height="64px">({{ elo }} ELO)</h3>

    <br><br>

    <h5>Bio:</h5><p>Creator of morsecode.fun. <a href="http://ians.site">Website</a> 
<a href="http://github.com/Igyeom">GitHub</a></p>

    <h5 style="transform: translate(0%, -10%);">By using our website and services, you agree to our Cookie Policy. <a href="cookies" style="color: white;">Learn more</a></h5>
{% endblock %}