{% if base|string() == "2"|string() %}
{% extends 'base2.html' %}
{% else %}
{% extends 'base.html' %}
{% endif %}

{% block title %}
    <title>morsecode.fun - online morse utilities</title>
{% endblock %}

{% block head %}
    <script src="../static/js/script.js"></script>
{% endblock %}

{% block body %}
    <br><br><br>

    <h1>morsecode.fun</h1>
    <h3>Register</h3>

    <h5>By using our website and services, you agree to our Terms of Service. <a href="tos" style="color: white;">Learn more</a></h5>

    <form action="#" method="POST">
      <input type="text" placeholder="Username" name="username" maxlength="12" minlength="3" autocomplete="off"><br>
      <input type="password" placeholder="Password" name="password" minlength="8" autocomplete="off"><br>
      <input type="password" placeholder="Repeat Password" name="repeat" minlength="8" autocomplete="off"><br>
      <input type="submit" value="Register" name="submit">
    </form>

    {{ success }}
{% endblock %}